<div class="row">
	<div class="col-xs-4 members-list">
		<div ng-repeat="member in members">
			<a href="javascript:void(0)" class="member" ng-click="invite(member)">{{ member.nickname }}</a>
		</div>
	</div>
	<div class="col-xs-8 board">
		<div ng-repeat="message in messages">
			<span class="message" ng-if="message.type == 'message'">
				<i class="user">{{ message.user.nickname }}:</i> {{ message.content }}
			</span>
			<span class="invitation" ng-if="message.type == 'invitation'">
				<i class="user">{{ message.user.nickname }}</i> invited you to play. <a href="javascript:void(0)" ng-click="accept(message)">Play!</a>
			</span>
		</div>
	</div>
</div>
<div class="row message-input-wrapper">
	<div class="col-xs-8 col-xs-offset-4">
		<form ng-submit="send()">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="message" placeholder="Type your message...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Send!</button>
				</span>
			</div>
		</form>
	</div>
</div>