<div class="row">

	<div class="time-to-choose">
		<label>Timer:</label> {{countdown}}
	</div>

	<div class="col-xs-12 choose" ng-if="!ready">

		<div class="row slot" ng-repeat="slot in slots">

			<div class="col-xs-12 text-center person">
				<h3>{{ slot.name }}</h3>
				<div class="btn-group">
					<label class="btn btn-primary" 
						ng-model="slot.id" 
						ng-repeat="person in persons" 
						btn-radio="person.id">{{ person.name }}</label>
				</div>
			</div>

			<div class="col-xs-12">
				
				<div class="col-xs-6 weapon text-center">
					<h3>Weapon 1</h3>
					<div class="btn-group">
						<label class="btn btn-primary" 
							ng-model="slot.weapon1" 
							ng-repeat="weapon in weapons" 
							btn-radio="weapon.id">{{ weapon.name }}</label>
					</div>
				</div>

				<div class="col-xs-6 weapon text-center">
					<h3>Weapon 2</h3>
					<div class="btn-group">
						<label class="btn btn-primary" 
							ng-model="slot.weapon2" 
							ng-repeat="weapon in weapons" 
							btn-radio="weapon.id">{{ weapon.name }}</label>
					</div>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 text-center">
				<button class="btn btn-default" type="button" ng-click="ready()">Ready!</button>
			</div>
		</div>
		
	</div>

	<div class="waiting row" ng-if="ready && !gaming">
		<div class="col-xs-12 text-center"><label>Waiting for the other player...</label></div>
	</div>

	<div class="game-scenario text-center" ng-if="gaming"></div>
	<div class="row" ng-if="gaming">
		<div class="col-xs-12 text-center">
			<button class="btn btn-default" type="button" ng-click="turn()">Ready!</button>
		</div>
	</div>
</div>