.time-to-choose {
	margin-bottom: 20px;
}
.slot {
	margin-bottom: 20px;
}

.game-stats {
	.player {
		margin-bottom: 20px;
		.person {
			.person-name {
				
			}
			.person-life {
				.progress {
					margin-bottom: 0;
				}
			}
		}
	}
}